@import url("variables.css");

footer{color: white;}
header{color: white;}

hr{ background-color: white; height: 1px; border: 0; }

body {
  min-height: 100vh;
  background: linear-gradient(
    to top left,
    var(--page-background-dark),
    var(--page-background-light),
    var(--page-background-dark)
  );
}

.card-body{
  color: black !important;
}

.header {
  & .main-nav {
    & .btn {
      flex-grow: 1;
      height: 3rem;
      margin: calc(var(--gutter) * 0.5);
    }
  }
}

.nadpis-cast1{
  font-size: 2.5em;
  letter-spacing: 0.06em;
}

.nadpis-cast2{
  font-size: 1.5em;
  letter-spacing: 0.05em;
  font-style: italic;
  margin-left: 0.2em;
}

.questions-holder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.3rem;
  background-image: linear-gradient(to top, var(--question-table-start), var(--question-table-end));
  min-height: 30vh;
  border: var(--border-width) solid var(--question-table-border);
  
  & * {
    color: black;
  }

  & .player-info {
    background-color: var(--info);
    border: var(--border-width) solid var(--info-active);
  }

  & .btn-question {
    background-color: var(--question);
    border: var(--border-width) solid var(--question-active);

    &:hover {
      background-color: var(--question-active);
    }
  }

  & .category-name {
    grid-row-start: 2;
    background-color: var(--terciary);
    border: var(--border-width) solid var(--terciary-active);
  }

  & .question-buttons {
    grid-row-start: 3;
    grid-row-end: 7;
  }

  & .category-1-btns {
    grid-column-start: 1;
  }

  & .category-2-btns {
    grid-column-start: 2;
  }

  & .category-3-btns {
    grid-column-start: 3;
  }

  & .category-4-btns {
    grid-column-start: 4;
  }

  & .category-5-btns {
    grid-column-start: 5;
  }

  & .column {
    border: 2px solid rgba(228, 14, 14, 0.8);
  }
  .modal {
    & * {
      color: black;
    }
  }
  .modal-header {
    background-color: var(--terciary);
  }
}

@media only screen and (max-width: 768px) {
  .questions-holder {
    grid-gap: 0.1rem;
    & button,
    div {
      font-size: 0.8rem;
      border-width: 0.1rem !important;
    }
  }
}

.warning-bar {
  background-color: #990a00; /* Red background color */
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's on top of other elements */
}