@import url("variables.css");

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: var(--body-margin);
  min-height: calc(100vh - (2 * var(--body-margin)));
  background: linear-gradient(
    to top left,
    var(--question-table-border),
    var(--terciary),
    var(--question-table-border)
  );
}

.header {
  width: var(--main-container-width);
  & .main-nav {
    width: calc(var(--main-container-width) - 20%);
    display: flex;
    margin-bottom: 10rem;

    & .btn {
      flex-grow: 1;
      height: 3rem;
      margin: calc(var(--gutter) * 0.5);
    }
  }
}

.main-container {
  width: var(--main-container-width);
  height: 100%;

  .questions-table {
    border-radius: var(--btn-border-radius);
    width: calc(var(--main-container-width) - 20%);
    background-image: linear-gradient(
      to top,
      var(--question-table-start),
      var(--question-table-end)
    );
    height: 35vh;
    border: var(--border-width) solid var(--question-table-border);

    & .player-row div {
      background-color: var(--info);
      border-radius: var(--btn-border-radius);
      border: var(--border-width) solid var(--info-active);
      height: 100%;
      font-weight: 700;
    }

    & .category-row .category-name {
      background-color: var(--terciary);
      border-radius: var(--btn-border-radius);
      border: var(--border-width) solid var(--terciary-active);
      height: 100%;
      font-weight: 700;
    }

    & td {
      padding: calc(var(--gutter) * 0.5);
      width: 20%;
    }

    & button {
      padding: calc(var(--gutter) * 0.5);
      width: 100%;
      height: 100%;
      font-weight: 700;
      font-size: 1.3rem;
    }
  }
}

.question-container {
  & .question-text {
    padding: calc(var(--gutter) * 2);
    height: calc(100% - var(--question-header-height));
    font-weight: 700;

    & td {
      padding: calc(var(--gutter) * 2);

      & .answer-btn {
        background-color: var(--question-answer-btn);
        border: var(--border-width) solid var(--question-answer-btn-active);
        color: white;
        width: 3rem;
        font-weight: 700;

        &:active {
          background-color: var(--question-answer-btn-active);
        }
      }
    }
  }
}
