@import url("variables.css");

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
