:root {
  --page-background-dark: #112f4d; 
  --page-background-light: #16426a;

  --terciary: #4e9feb;
  --terciary-active: #388bd9;

  --info: #b2cce4;
  --info-active: #8da1b4;

  --question: #f2ff37;
  --question-active: #bcc729;
  --question-table-start: #0e3e6d;
  --question-table-end: #101e2e;
  --question-table-border: #112f4d;
  --question-answer-btn: #2f6478;
  --question-answer-btn-active: #183945;

  --gutter: 0.2rem;
  --border-width: 0.3rem;
}
